<!DOCTYPE html>
<html lang="en">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/font-awesome/mdi/css/materialdesignicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/vendor.bundle.base.css}"/>
    <link rel="stylesheet" th:href="@{/js/jquery.dataTables.min.js}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="shortcut icon" th:href="@{/images/logo.png}"/>
    <script th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
    <title th:text="${title}"></title>
</head>
</html>