<!DOCTYPE html>
<html lang="en">
<nav class="navbar">
    <div class="navbar-left">
        <ul>
            <li>
                <a href="#"><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li>
                <a href="#">Explore</a>
            </li>
            <li>
                <a href="#">Community feed</a>
            </li>
            <li>
                <a href="#">Mutual friend <span>12</span></a>
            </li>
        </ul>
    </div>
    <div class="navbar-right">
        <a href="#"><i class="fas fa-comment-alt"></i></a>
        <a href="#"><i class="fas fa-bell"></i></a>
        <a href="#" class="profile-link">
            <img src="profile-icon.png" alt="Profile" />
            <span>Havid N</span>
        </a>
    </div>
</nav>
</html>