<!DOCTYPE html>
<html lang="en">
<div class="sidebar">
    <div class="logo">
        <img src="/images/logo.png" alt="Freal Logo" />
        <span>Freal</span>
    </div>
    <div class="search-bar">
        <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" placeholder="Explore Freal..." />
    </div>
    <div class="navigation">
        <ul>
            <li>
                <a href="#"><i class="fa-solid fa-house"></i>Home</a>
            </li>
            <li>
                <a href="#"><i class="fa-regular fa-bookmark"></i>Storage</a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-blog"></i>Blog</a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-calendar-days"></i>Freal events <span class="new-listing">4 new </span></a>
            </li>
            <li>
                <a href="#"><i class="fa-regular fa-newspaper"></i>News feed <span class="new-listing">4 new </span></a>
            </li>
        </ul>
    </div>
    <div class="post-comment__line"></div>
    <div class="upcoming-event">
        <span>Upcoming event <strong class="new-event">12</strong></span>
    </div>
    <div class="event-navigation">
        <ul>
            <li>
                <a href="#">
                    <div class="event-date">20<br />Dec</div>
                    <div class="event-details">
                        <span class="event-name">Picnic</span>
                        <span class="new-work">78k interested · 7.7k going</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="event-date">28<br />Jan</div>
                    <div class="event-details">
                        <span class="event-name">Explorative</span>
                        <span class="new-work">31k interested · 7.7k going</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="event-date">12<br />Feb</div>
                    <div class="event-details">
                        <span class="event-name">Climbing</span>
                        <span class="new-work">19k interested · 5.7k going</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="event-date">18<br />Mar</div>
                    <div class="event-details">
                        <span class="event-name">Cycling</span>
                        <span class="new-work">28k interested · 1.7k going</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>